<%- include("partials/loginheader") -%>
<h1>About</h1>
<p><%= acontent%></p>
<li><a href="https://serene-fjord-44613.herokuapp.com" target="_blank">MRP Sale</a></li>
<li><a href="https://github.com/imrcht/Hand-Gesture-Recognition" target="_blank">Hand Gesture Recognition</a></li>
<li><a href="https://github.com/imrcht/Store-API" target="_blank">Store API</a></li>
<%- include("partials/footer") -%>