<%- include("partials/loginheader") -%>
<h1>Contact</h1>
<p><%= ccontent%></p>
<p><a href="https://www.linkedin.com/in/rachit-gupta-0069701a1/" target="_blank">Connect me on Linkedin</a></p>
<%- include("partials/footer") -%>