html {
    min-height: 100%;
    position: relative;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.limit {
    width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.navbar {
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
.comment {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 3px dashed #8ebf42;
  background-color: #d0e2bc;
  font: 1.4em/1.6em cursive;
  color: #095484;
}
.tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #ccc;
  }
  
  .tip-up {
    top: -25px; /* Same as body margin top + border */
    /* left: 10px; */
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  }
  
  .dialogbox .body {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #DADADA;
    border-radius: 3px;
    border: 5px solid #ccc;
  }
  
  .body .message {
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    color: #797979;
  }
  .brand_logo {
    height: 50;
    width: 50;
    filter: brightness(0) ;
    color: #dd2476;
  }